<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{$base.company}</title>
        {css 'assets/bootstrap/css/scojs.css'}
        {css 'assets/css/dpl-min.css'}
        {css 'assets/css/bui-min.css'}
        {css 'assets/css/main-min.css'}
        {css 'assets/css/toastr.min.css'}
        {css 'assets/css/font-awesome.min.css'}
        <link rel="shortcut icon" href="{base 'favicon.ico'}">
    </head>
    <body>

        <div class="header">

            <div class="dl-title">
                <span class="dl-title-text">{$base.title}</span>
            </div>

            <div class="dl-log">欢迎您，<span class="dl-log-user">{$member.realname}</span>
               
{if !empty($member.patternlock)}
                <a href="{site 'index/quit/lock'}" onclick="return confirm('你确定要离开系统吗？')" title="离开系统" class="dl-log-quit"><i class="icon-reply"></i></a>
                {/if}
                <a href="#" onclick="ferosClient.mini()" class="dl-log-quit"><i class="icon-minus"></i></a>

                <a href="{site 'login/quit'}" onclick="return confirm('你确定要退出系统吗？')" title="退出系统" class="dl-log-quit"><i class="icon-remove"></i></a>

            </div>
        </div>
        <div class="content">
            <div class="dl-main-nav">
                <div class="dl-inform"><div class="dl-inform-title">费尔进销存<s class="dl-inform-icon dl-up"></s></div></div>
                <ul id="J_Nav"  class="nav-list ks-clear">
                    {_ $i=0}{loop $menu as $var}{if $var.parentid==0}{_ ++$i}<li class="nav-item{$i==1?' dl-selected':''}"><div class="nav-item-inner {$var.ico}">{$var.name}</div></li>{/if}{/loop}
                </ul>
            </div>
            <ul id="J_NavContent" class="dl-tab-conten">

            </ul>
        </div>
        {js 'assets/js/jquery-2.1.1.min.js'}
        {js 'assets/bootstrap/js/sco.js'}
        {js 'assets/js/bui.js'}
        {js 'assets/js/toastr.min.js'}
        {js 'assets/js/config.js'}
        <script type="text/javascript">
            BUI.use('common/main', function () {
                var config={$bui};
                new PageUtil.MainPage({modulesConfig:config});
            });
            //window.setTimeout(showremind, 5000);
            function showremind() {
                $.post("{site 'index/remind'}", function (data) {
                    if (data.status === 1) {
                        window.parent.toastr.info(data.message);
                    }
                    window.setTimeout(showremind, 5000);
                }, "json");
            }
        </script>
    </body>
</html>
