<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{$base.company}</title>
        {css 'assets/bootstrap/css/bootstrap.min.css'}
        {css 'assets/bootstrap/css/bootstrap-responsive.min.css'}
        {css 'assets/bootstrap/css/todc-bootstrap.css'}
        {css 'assets/bootstrap/css/scojs.css'}
        {css 'assets/css/toastr.min.css'}
        {css 'assets/css/common.css'}
       
      
        
        {css 'assets/css/font-awesome.min.css'}
        {css 'assets/css/autocomplete.css'}
        {ico 'favicon.ico'}
        {js 'assets/js/jquery-2.1.1.min.js'}
        {js 'assets/My97DatePicker/WdatePicker.js'}
       