{if $this->t_verify->is_post() && $this->t_verify->is_ajax()}
{if empty($list)}
<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning!</h4>
    暂时没有相关数据
</div>
{else}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>识别码</th>
            <th>名称</th>
            <th>销售价</th>
            <th>兑换积分</th>

            <th>库存</th>
            <th>仓库</th>

            <th>类型</th>
            <th>分类</th>
            <th>创建日期</th>
            <th>更新日期</th>
            <th style="width:50px;text-align:center">修改</th>
            <th style="width:50px;text-align:center">查看</th>
        </tr>
    </thead>
    <tbody>
        {loop $list as $var}
        <tr>
            <td>{$var.code}</td>
            <td>{$var.name}</td>

            <td>{$var.sales}</td>
            <td>{$var.points}</td>

            <td>{$var.quantity}{$var.unit}</td>
            <td>{$var.warehouse}</td>

            <td>{$var.type==='1'?'正常':'赠品'}</td>
            <td>{$var.category}</td>
            <td>{array_shift($this->t_date->get_lastdate((int)$var.create))}</td>
            <td>{array_shift($this->t_date->get_lastdate((int)$var.update))}</td>
            <td style="text-align:center"><a href="{site 'inventory/product_edit/'.$var.id}"  title="修改产品"><i class="icon-edit"></i> 修改</a></td>
            <td style="text-align:center"><a href="{site 'inventory/product_look/'.$var.id}" title="查看产品"><i class="icon-search"></i> 查看</a></td>
        </tr>
        {/loop}

    </tbody>
</table>



{/if}
{else}
{view 'public/head'}
</head>
<body>
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li>产品名称首字母检索 <span class="divider">/</span></li>
            {loop $pinyin as $var}
            <li{$py===$var?' class="active"':''}>{if $py===$var}{$var}{else}<a href="{site 'inventory/product/'.$var}">{$var}</a>{/if}<span class="divider">/</span></li>
            {/loop}
            <li{empty($py)?' class="active"':''}>{if empty($py)}全部{else}<a href="{site 'inventory/product'}">全部</a>{/if}</li>
        </ul>
        <form id="forminventorysupplier" class="form-inline" action="{site 'inventory/product/'.$py}" accept-charset="utf-8" method="get">
            <table class="table table-hover">
                <tbody>

                    <tr>
                        <td>
                            <input type="text" placeholder="识别码/产品名称" name="keyword" value="{$_REQUEST.keyword}" class="input-medium">

                           <select name="c_id" class="input-xlarge">
                                <option value="">所有分类</option>
                                {loop $category as $var}
                                <option value="{$var.id}"{$_REQUEST.c_id===$var.id?' selected':''}>{$var.name}</option>
                                {/loop}
                            </select>
                            <select name="type" class="input-small">
                                <option value="">类型</option>
                                <option value="1"{$_REQUEST.type==='1'?' selected':''}>正常</option>
                                <option value="2"{$_REQUEST.type==='2'?' selected':''}>赠品</option>
                            </select>
                            <select name="staff_uid" class="input-small">
                                <option value="">操作人</option>
                                {loop $this->m_staff->finds() as $staff}
                                <option value="{$staff.uid}"{$_REQUEST.staff_uid===$staff.uid?' selected':''}>{$staff.realname}</option>
                                {/loop}
                            </select>



                            <button type="submit" class="btn btn-primary input-small" title="查询"><i class="icon-search"></i> 搜索</button>
                           

                            <input type="hidden" id="paginationinput" name="pagination" value="1" />
                            <input type="hidden" id="countinput" name="count" value="{$count}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

        <p>
            <small><i class="icon-info-sign"></i> 查询到了<strong>{$count}</strong>个产品记录</small>
        </p>
        <div id="tablelist">

        </div>
        <div class="pagination pagination-centered">
            <ul id='pagination'>

            </ul>
        </div>





    </div>
    {view 'public/js'}
    <script type="text/javascript">
                $(document).ready(function() {
        {if !empty($count)}
        $('#pagination').jqPaginator({
        totalCounts: {$count},
                pageSize:{$base.queqry},
                currentPage: 1,
                onPageChange: function(num, type) {
                $('#paginationinput').val(num);
                        $.post($('#forminventorysupplier').attr('action'), $('#forminventorysupplier').serialize(), function(data) {
                        $('#tablelist').html(data);
                        });
                }
        });
        {/if}

        });
    </script>
</body>
</html>
{/if}