<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>费尔软件</title>
    </head>
    <body>
        欢迎你使用费尔软件，正在启动系统……
        <script type="text/javascript">
            var readyHandler = function () {
                ferosClient.max();
                ferosClient.loadUrl('{site 'index'}');
            }
            addEventListener("ferosClientReady", readyHandler);
        </script>
    </body>
</html>